@font-face {
  font-family: 'OldeEnglish';
  src: url('../fonts/OldeEnglish.ttf') format('truetype');
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Actor', sans-serif;
}

body {
  background-color: #000;
}

a {
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.2s;
}

a:hover {
  color: rgba(255, 255, 255, 1);
  transition: 0.2s;
}

.verify {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: #FFF;
}

.welcome {
  height: 150px;
  margin: auto;
  font-size: 50px;
  width: 80%;
}

.selection-box {
  height: 150px;
  width: 350px;
  margin: auto;
  font-size: 50px;
  border: solid #FFF 1px;
  line-height: 150px;
  overflow: hidden;
  transition: color 0.5s, background-color 0.5s;
}

.selection-box:hover {
  color: #000;
  background-color: #FFF;
  transition: all 0.5s;
}

.site {
  height: 100%;
}

.nav-bar {
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-item {
  color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 200px;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
  transition: color 0.2s;
}

.nav-item:hover {
  color: rgba(255, 255, 255, 1) !important;
  transition: 0.2s;
}

.nav-home {
  font-family: OldeEnglish;
  font-size: 60px;
  width: 100px;
  margin-right: auto;
}

.section {
  height: 100%;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("../images/tap.jpg");
  background-blend-mode: darken;
  display: flex;
}

.home-text {
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 80%;
  line-height: 250px;
  font-family: OldeEnglish;
  font-size: 200px;
  margin: auto;
  text-align: center;
  color: #FFF;
}

.about {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("../images/shakers.jpg");
  background-blend-mode: color-burn;
  display: flex;
}

.about-text {
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: #FFF;
}

.menu {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("../images/burger.jpg");
  background-blend-mode: darken;
  display: flex;
}

.hours {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("../images/lamps.jpg");
  background-blend-mode: darken;
  display: flex;
}

.food-nav {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
}

.food-nav-item {
  border: solid #FFF 1px;
  padding: 5px;
  flex: 1;
  height: 30px;
  line-height: 30px;
  transition: background-color 0.25s, color 0.25s;
}

.food-nav-item:hover {
  background-color: #FFF !important;
  color: #000 !important;
  transition: background-color 0.25s, color 0.25s;
}

.menu-body {
  height: auto;
  margin: 120px auto 120px auto;
  width: 80%;
  max-width: 1000px;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: #FFF;
  overflow: auto;
}

.menu-text {
  margin-top: 10px;
}

.food-category {
  width: 90%;
  padding: 0 15px;
  margin: 0 auto;
}

.menu-item {
  margin: 35px 0;
  font-size: 18px;
  text-align: left;
}

.menu-item-name{
  font-family: helvetica;
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-description {
  font-style: italic;
  font-size: .9em;
  line-height: 1.5em;
}

.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -22px;
}

.olde {
  font-family: OldeEnglish;
  font-size: 60px;
  font-weight: normal;
}

.food-category h2 {
  font-family: OldeEnglish;
  font-size: 40px;
  font-weight: normal;
}

.hours-text {
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: #FFF;
  border: solid #FFF 1px;
}

.contact {
  color: #FFF;
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.address {
  width: 300px;
    color: rgba(255, 255, 255, 0.5);
    height: 100%;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
}

.phone {
  width: 300px;
    color: rgba(255, 255, 255, 0.5);
    height: 100%;
    font-size: 25px;
    line-height: 100px;
    text-align: center;
}

.footer {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
  position: fixed;
  bottom: 5px;
  width: 100%;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.no-select {
  user-select: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* tablet view */
@media (max-width: 1100px) {
  .home-text {
    font-size: 100px;
    line-height: normal;
  }

  .food-nav {
    flex-direction: column;
    margin: 10px auto;
    display: none;
  }

  .food-category {
    display: block !important;
  }

  .menu-body {
    margin-top: 110px;
    margin-bottom: 85px;
    padding: 10px 5px;
    width: 80%;
  }

  .menu-item-name {
    overflow-x: auto;
  }

  .contact {
    height: 75px;
  }

  .address {
    font-size: 15px;
    line-height: 20px;
  }

  .phone {
    font-size: 15px;
    line-height: 40px;
  }
}

/* mobile view */
@media (max-width: 767px) {
  .nav-item {
    font-size: 20px;
    width: 100px;
    line-height: 70px;
  }

  .nav-home {
    font-size: 40px;
  }

  .nav-bar {
    height: 70px;
  }

  .menu-body {
    margin-top: 80px;
    width: auto;
  }

  .about-text, .hours-text {
    margin: 120px 10px;
    border: none;
    width: 100%;
    background-color: transparent;
    padding: 0px;
  }

  .address {
    font-size: 15px;
    line-height: 20px;
  }

  .phone {
    font-size: 15px;
    line-height: 40px;
  }
}
